
#page {
width: 1349px;
	margin: 0 auto;
}
.page-title {
	text-align: center;
}
/* -------------------------------------------------------------------
#landing default start
------------------------------------------------------------------*/
html {
	font-family: "Century Gothic";
}
body {
	margin: 0;
}
h1,
h2,
h3,
h4 {
	font-size: 30px;
	margin: 0;
	padding: 0;
}
div {
	display: block;
}
a {
text-decoration: none;
}
.page-title img{
	width:480px;
}
.page-title p{
	font-size:33px;
	color:#fff;
	text-shadow:2px 2px 0px #000;
}
#wrapper{
	background-image:url("/images/images/jungle.jpg");
	height:729px;
	padding-top:45px;
}
.header-content {
	width: 1025px;
	margin: 0 auto;
}
.header-left-description, .header-middle-image, .header-right-description {
	display: inline-block;
}
.header-left-description,
.header-right-description {
	vertical-align: top;
	color: #fff;
	text-shadow: 2px 2px 0px #000;
	width: 297px;
	line-height: 33px;
}
.header-middle-image {
	margin-top: 57px;
}
.header-right-description {
	text-align: right;
}
.cta-button{
	background-color: rgba(95,136,84,0.53);
	padding:30px;
}
.reserve-btn{
	color:#fff;
	text-align:center;
}
.reserve-btn a{
	color:#fff;
	padding:11px 14px;
	background-color: #f3343a;
	border-radius:8px;
}

.gallery-slider {
	display: inline;
	width: 339px;
	height: auto;
}
.gallery-slider img {
	width: 337px;
	height: auto;
	margin:0px -3px 0 -1px;
}
.features-box{
	width:1137px;
	margin:0 auto;
	padding:20px;
}
.features{
	display:inline-table;
	width:326px;
	text-align:center;
	padding:25px;
}
.features img{
	width:275px;
}
.olive-testimony{
	background-image:url("/images/images/rainforest2-large.jpg");
	text-align:center;
	background-size:100%;
	background-repeat:no-repeat;
}
.testimony-box {
	width: 630px;
	padding: 64px;
	margin: 0 auto;
}
.testimony{
	display:inline-block;
	width:236px;
	margin-right:153px;
}
.testimony:last-child,
.comment p,
.tourist p {
	margin: 0;
}
 .comment{
	padding: 15px;
	border: 5px solid #5f8854;
	border-radius: 15px;
	background-color: #fff;
 }
 .commenter {
	padding-top: 10px;
}
.commenter img{
	width:66px;
	display:inline-block;
}
.tourist {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 152px;
}
.tourist p:first-child,
.tourist p:last-child {
	font-weight: bold;
}
.tourist p:last-child {
	color: #295f14;
}
footer{
	background-image:url("/images/images/foot_jungle.png");
	box-shadow:2px 2px 2px #000;
}
.olive-copyright {
	width: 500px;
	margin: 0 auto;
}
.olive-copyright p{
	text-align:center;
	padding:15px;
	color:#fff;
	text-shadow:2px 2px 2px #000;
	font-size:15px;
	margin:0;
}
/*--------------------------------------------------------------
# Lander Default End
--------------------------------------------------------------*/
